/RobocupAudit
/logs/*.log
/componentfile.history
/*.out
/error.txt
/info.txt
/doc

/*.cogui
/*.comemgui
/*.comarker
/*.bak
/config.h
build-FirmwareCrc-Desktop_Qt_5_7_0_MinGW_32bit-Debug
/UnitTest.pro.user
/build*
/arm-gcc-link.ld
/Debug/
/.settings
/Release/
/MinGW_32bit-*
.cproject*
#.project
UnitTest.pro.user*
extern/wolfssl2/IDE/IAR-EWARM/
*.coproj
