{{template "header.html" .}}
<div class="card mb-4">
	<div class="card-body">
		{{if $.Data.IsUserLoggedIn}}
			{{if $.Data.CurrentUser.IsAdmin}}
				<a href="/cp/index/modify/{{$.Data.Page.Id}}/" target="_blank" style="float:right;">Edit</a>
			{{end}}
		{{end}}
		<h2 class="card-title">Signal: {{$.Data.Page.Name}}</h2>
		<div class="page-content" style="font-size: 22px;">
			{{$.Data.Page.Signals}}
		</div>
	</div>
	<div class="card-footer text-muted">
		<div>Published on {{$.Data.Page.DateTimeFormat "02/01/2006, 15:04:05"}}</div>
		<div>Author: {{$.Data.Page.User.FirstName}} {{$.Data.Page.User.LastName}}</div>
	</div>
	<script>
     var time = new Date().getTime();
     function refresh() {
         if(new Date().getTime() - time >= 200) 
             window.location.reload(true);
         else 
             setTimeout(refresh, 100);
     }

     setTimeout(refresh, 100);
</script>
</div>
{{template "footer.html" .}}